* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 10rem;
  width: 10rem;
  display: block;
  border: 2px solid black;
  object-fit: cover;
}

ul > li {
  list-style: none;
}

article {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

article.-animate {
  opacity: 1;
}
